<h1>Department`s History</h1>

<p>
  The history of the Department of Foreign Languages is inextricably linked with the history of the university.
</p>
<p>
  On June 1, 1960 after the foundation of Chernihiv General Technical Department of KPI, the foreign languages section was organized on August 25, 1960. The training was provided in three languages: German, French and English. In the 1964/65 academic year, foreign language section was transferred into the Department of Marxism-Leninism (the head of the section Balykina AD).
</p>

<p>
  The first teachers of the department were: Yasynska LI, Dove PM, Semanenko AD, Telenhater OI, Chumakov NS, Shuba OJ, Krukovets AA, Melnikova M P., Ivanyshyn VP, Dubenets ML, Larycheva SN.  After becoming Chernigov branch of KPI on August 26, 1965 the Department of General Sciences,was organized which included the Section of Foreign Languages. Balykina AD was appointed the  first Head of the Department on  September 1, 1968 and held the position until retirement in 1975. The department employed eight full-time and one part-time teachers.
  <%= image_tag 'history_class_thumbnail.jpg', :style => 'float:right; margin: 8px'%>
</p>
<p>
  In 1975 Lukashenko I.G.joined the department. He graduated from Leningrad Pedagogical Institute of Foreign Languages and spoke German, English, Czech, Slovak and Polish. He was a World War II veteran. In 1974 he gained a degree of candidate of pedagogical sciences. From 1968 to 1975 he worked for Sumy branch of KPI. From March 1976 to June 1986 Lukashenko IG held the position of the Head of the department of foreign languages of the KPI branch. </p>

<p>
  From 1974 till 1977 the Department employed Kot O.V., Kravchenko A.I., Petrus T.P., Tsvetok A.A. Then they were joined by Kuts L.M., Buchachskaya L.A., Olhovska O.J., Pasenko N.V.   </p>

<p>
  У 1974-77 роках на кафедру прийшли працювати Кот О.В., Кравченко А.І., Петрусь Т.П., Квітка А.І. Трохи пізніше до них приєдналися Куц Л.М., Бучацька Л.А., Ольговська О.Я., Пасенко Н.В. У червні 1976 р. уперше в історії інституту відбувся захист дипломного проекту англійською мовою випускницею кафедри металорізальних верстатів та інструментів Кисіль Н.М.
  <%= image_tag 'history_staff_thumbnail.jpg', :style => 'float:left; margin: 8px'%>
</p>
<p>
  Yemelyanova A.O. became the Head of the Foreign Languages department in 1986. She graduated from the Faculty of Philology of Kiev State University of T.G. Shevchenko in 1959. She held the position till 1995 and was the author of 56 scientific papers, including "English-Russian dictionary in welding," English-Russian-Ukrainian Dictionary in coatings. In 1988 she became the Head of the department.</p>

<p>
  The department had two language laboratories at its disposal, where students were able to master foreign after classes. 
</p>
<p>
  In 1995 the department got a new Head - Kot O.V., a Senior Lecturer of English and French who graduated from Kyiv State Pedagogical Institute of Foreign Languages in 1972. 
</p>
<p>
  From 1991 till 2011 the folloving teachers joined the department: Almiasheva A.O. (1991), Hryshchenko V.I., Sobol T.N. (1993), Tertel E.B., Yusukhno S.I, Lepekha A.V., Oryol D.C. (1994), Strutynska V.V., Cherednichenko, N.B., Yakovenko T.M. (1995), Korets T.V., Levchenko S.E. (2000), Svetenok L.K. (2001), Kyian I.V. (2002), Kormiltsyna S.Y.(2003)., Mestkharm O.A. (2010). From March 2004 to February 2005 the acting Head of the department was Pasenko N.V.
</p>

<p>
  On February 1, 2005 Lytvyn S.V., PhD in Pedagogics, was appointed a new Head of the department.
</p>
