<h1>Історія кафедри</h1>

<p>Історія кафедри іноземних мов нерозривно пов’язана з історією університету.
  1 червня 1960 р. у зв’язку з організацією Чернігівського загально-технічного факультету КПІ на базі кафедри графіки була організована секція іноземних мов, у штат якої 25 серпня 1960 р. було введено одиницю асистента німецької та французької мов та 0,5 ставки асистента англійської мови.
</p>

<p>
  У 1964/65 навчальному році секцію іноземних мов було передано кафедрі марксизму-ленінізму (завідуюча секцією Баликіна О.Д.). Першими викладачами кафедри були: Ясинська Л.І., Голуб П.М., Семаненко А.Д., Теленгатер О.І., Чумакова Н.С., Шуба О.Я., Круковець А.А., Мельникова М.П., Іванишина В.П., Дубенець М.Л., Ларичева С.Н.

  <%= image_tag 'history_class_thumbnail.jpg', :style => 'float:right; margin: 8px'%>
</p>
<p>
  У зв’язку з перетворенням Чернігівського ЗТФ у філію КПІ 26 серпня 1965 року було організовано кафедру загальнонаукових дисциплін, до якої увійшла і секція іноземних мов. В.о. завідуючої кафедрою загальнонаукових дисциплін була призначена Баликіна О.Д. У 1966/67 навчальному році вона стала завідуючою кафедрою і одночасно її затвердили на посаді в.о. доцента.
</p>

<p>
  У 1968 р. була організована кафедра іноземних мов на чолі з завідуючою кафедрою Баликіною О.Д.
  На кафедрі працювало вісім штатних викладачів та один погодинно. У 1975 році на кафедру прийшов кандидат педагогічних наук Лукашенко І.Г.. 1 жовтня його призначено в.о. завідуючого кафедрою, а 15 березня 1976 року обрано завідуючим кафедрою.
</p>

<p>
  У 1974-77 роках на кафедру прийшли працювати Кот О.В., Кравченко А.І., Петрусь Т.П., Квітка А.І. Трохи пізніше до них приєдналися Куц Л.М., Бучацька Л.А., Ольговська О.Я., Пасенко Н.В. У червні 1976 р. уперше в історії інституту відбувся захист дипломного проекту англійською мовою випускницею кафедри металорізальних верстатів та інструментів Кисіль Н.М.
  <%= image_tag 'history_staff_thumbnail.jpg', :style => 'float:left; margin: 8px'%>
</p>
<p>
  У 1986 році обов’язки зав. кафедрою виконувала Ємельянова А.О., а у 1988 вона стала завідуючою кафедри.
  На кафедрі введено у експлуатацію 2 лінгафонних кабінети, де студенти отримали можливість займатися іноземними мовами і у час поза основними заняттями.
</p>

<p>
  У 1995 р. після тяжкої хвороби пішла з життя завідуюча кафедрою Ємельянова А.А. Завідуючим кафедрою став Кот О.В., який працював до цього на посаді старшого викладача.
</p>
<p>
  До лав співробітників кафедри влилися нові викладачі: Альмяшева А.О. (1991 р.), Грищенко В.І., Соболь Т.Н. (1993 р.), Тертель Е.Б., Юсухно С.І., Лепеха О.В., Орловська О.К. (1994 р.), Струтинська В.В., Чередніченко Н.Б., Яковенко Т.М. (1995 р.), Корець Т.В., Левченко С.Є. (2000 р.), Светенок Л.К. (2001 р.), Киян І.В. (2002 р.), Кормільцина С.Ю. (2003 р.)., Местхарм О.А. (2010 р.).
</p>
<p>
  З березня 2004 р. по лютий 2005 року обов’язки завідуючої кафедрою виконувала Пасенко Н.В., старший викладач кафедри.
  З 1 лютого 2005 р. завідуючою кафедрою стала кандидат педагогічних наук, доцент Литвин С.В.
</p>
