
<p>
  The Department of Foreign Languages of Chernihiv State Technological University is one of the oldest at the university. The department has highly qualified teachers who have extensive experience of scientific, educational and professional work.
</p>
<div style="text-align:center">
  <%= image_tag "kot.jpg" %>
  <p style="font-style:italic">
    Senior Lecturer O.V. Kot
  </p>
</div>
<p>
  The Department provides foreign language teaching to the bachelor's degree full-time and part-time students of all specialties of the university. During the first years of training university students study English, French or German languages for professional purpose.
</p>

<p>

  The Department teaching staff Languages trained at Surrey University (UK) and some leading universities of Ukraine, have experience in translation work and the preparation of English-language materials as part of IT soft TEAM project; as well as teaching English to military personnel - PEAF project; qualification Certificate in Teacher Training, Cambridge 1998 and Certificate of Proficiency in Test Design, Budapest 2000, etc.</p>
<div style="text-align:center">
  <%= image_tag "club.jpg" %>
  <p style="font-style:italic">
    At the discussion club workshop
  </p>
</div>
<p>
  The teachers of foreign languages of Chernihiv State Technological University presented their reports at 11 international and 13 Ukrainian and 12 regional conferences and seminars. Annually materials reports, research papers and theses are published, which totally account more than 90 works. In addition, the department published 20 manuals.
</p>

<p>
  The Department of Foreign Languages regularly provides translating services to the structural subdivisions of the university, establishes ties with international organizations, in particular with the Peace Corps. The teachers also conduct classes within the thematic program of the regular seminar "Administration English" to decision-makers of the Euro-Atlantic integration departments and offices of state administration.
</p>

<p>
  Senior full-time and part-time students of the economic specialties can study the second foreign language (English, French or German) for professional purpose.
</p>
<p>
  Foreign languages are also provided by the curriculum for full-time master degree students of specialties "Electronics" and "Welding".
</p>
<p>
  The dpt provides training of full-time and part-time master course students (specialization "Administration management") in the following disciplines: general foreign language, legal language, business language, language of modern public administration, microeconomics and personnel management language.
</p>

<p>
  In their spare time students can in addition attend the foreign language courses.
</p>
