
<p>
  Кафедра іноземних мов Чернігівського державного технологічного університету є однією з найстаріших в університеті. На кафедрі працюють висококваліфіковані викладачі, що мають великий досвід науково-педагогічної і професійної роботи.
</p>
<div style="text-align:center">
  <%= image_tag "kot.jpg" %>
  <p style="font-style:italic">
    Старший викладач Кот О.В.
  </p>
</div>
<p>
  Кафедра забезпечує викладання дисципліни &laquo;Іноземна мова&raquo; у процесі підготовки бакалаврів денної та заочної форм навчання за напрямами &laquo;Фінанси і кредит&raquo;, &laquo;Облік і аудит&raquo;, &laquo;Товарознавство і торговельне підприємництво&raquo;, &laquo;Менеджмент&raquo;, &laquo;Інженерна механіка&raquo;, &laquo;Машинобудування&raquo;, &laquo;Зварювання&raquo;, &laquo;Електротехніка та електротехнології&raquo;, &laquo;Електронні пристрої та системи&raquo;, &laquo;Комп’ютерна інженерія&raquo;. Протягом перших років навчання в ЧДТУ студенти вивчають англійську, німецьку чи французьку мову за професійним спрямуванням.
</p>

<p>
  Співробітники кафедри іноземних мов стажувалися у Суррейському університеті (Великобританія) та провідних університетах України; мають досвід перекладацької роботи та підготовки англомовних матеріалів у рамках проекту IT soft TEAM; методи викладання англійської мови для військовослужбовців – PEAF project; здобуття кваліфікації Certificate in Teacher Training, Cambridge 1998 та Certificate of Proficiency in Test Design, Budapest 2000 тощо.
</p>
<div style="text-align:center">
  <%= image_tag "club.jpg" %>
  <p style="font-style:italic">
   На засіданні дискусійного клубу
  </p>
</div>
<p>
  Доповіді викладачів кафедри іноземних мов Чернігівського державного технологічного університету були представлені на 11 міжнародних, 13 всеукраїнських та 12 регіональних конференціях і семінарах. Щорічно публікуються матеріали доповідей, наукові статті і тези, яких на рахунку викладачів кафедри понад 90. Крім того, членами кафедри опубліковано 20 збірок методичних рекомендацій.
</p>

<p>
  Співробітники кафедри іноземних мов ЧДТУ регулярно надають допомогу у перекладах структурним підрозділам університету, налагоджують зв’язки з міжнародними організаціями, зокрема з Корпусом миру; проводять заняття за програмою тематичного постійного діючого семінару &laquo;Англійська мова в роботі органів влади&raquo; для відповідальних працівників з питань євроатлантичної інтеграції відділів та управлінь облдержадміністрації.
</p>

<p>
  Співробітники кафедри іноземних мов ЧДТУ регулярно надають допомогу у перекладах структурним підрозділам університету, налагоджують зв’язки з міжнародними організаціями, зокрема з Корпусом миру; проводять заняття за програмою тематичного постійного діючого семінару &laquo;Англійська мова в роботі органів влади&raquo; для відповідальних працівників з питань євроатлантичної інтеграції відділів та управлінь облдержадміністрації.
</p>

<p>
  Студенти денної та заочної форм навчання економічних напрямків підготовки на старших курсах мають можливість оволодіти другою іноземною мовою (англійською, німецькою чи французькою) за професійним спрямуванням.
</p>

<p>
  Вивчення іноземної мови передбачене також і у процесі підготовки магістрів денної форми навчання спеціальностей &laquo;Електроніка&raquo; та &laquo;Зварювання&raquo;.
</p>

<p>
У процесі підготовки магістрів денної та заочної форм навчання (спеціальності &laquo;Державна служба&raquo;) кафедра забезпечує викладання іноземними мовами наступних дисциплін: іноземна мова, правове забезпечення підприємницької діяльності, ділова іноземна мова, сучасне державне управління, мікроекономіка. управління трудовими ресурсами.
</p>

<p>
  У вільний від занять та зручний час студенти можуть додатково відвідувати курси іноземних мов.
</p>
