<h1>
Methodological work
</h1>

<p>
  Співробітники кафедри іноземних мов мають значний мовний досвід та практичний досвід викладання в немовних вищих навчальних закладах. Вони приділяють велику увагу підготовці фахівців, які змогли б спілкуватися зі своїми колегами поза географічними та політичними кордонами. Розроблено робочі навчальні програми, створені на основі робочого навчального плану підготовки бакалаврів (спеціалістів, магістрів) певної галузі знань та навчальної програми нормативної дисципліни “Англійська мова для професійного спілкування” для усіх напрямів підготовки за всіма формами навчання.
  <p>
    <p>
З метою підвищення власної науково-методичної кваліфікації викладачі кафедри регулярно проходять стажування у провідних вищих навчальних закладах України. Контроль за ефективністю стажувань здійснюється шляхом звітів викладачів на засіданнях кафедри. Результати підвищення кваліфікації упроваджуються в навчальний процес на практичних заняттях, під час розробки програм.
Перед викладачами кафедри стоять складні завдання по оволодінню новітніми технологіями навчання іноземних мов у немовному вищому навчальному закладі, по підвищенню якості викладання тощо.
</p>
<p>
  Викладачі кафедри є висококваліфікованими спеціалістами з великим досвідом перекладу фахових текстів з різних галузей знань. Значну перекладацьку діяльність регулярно виконують викладачі кафедри для структурних підрозділів університету, зокрема проводили роботу щодо підготовки англомовних матеріалів у рамках проекту ITSoftTeam.
</p>
<p>
  Налагоджуються зв’язки з міжнародними організаціями, зокрема з Корпусом миру. Проводяться заняття за програмою тематичного постійно діючого семінару &laquo;Англійська мова в роботі органів влади&raquo; для відповідальних працівників з питань євроатлантичної інтеграції відділів та управлінь облдержадміністрації.
</p>
<p>
Традиційно кафедра іноземних мов проводить щорічну олімпіаду з іноземних мов серед студентів. Переможці першого етапу гідно представляють наш університет на Всеукраїнському етапі олімпіади серед студентів немовних вищих навчальних закладів.
Щорічно в рамках роботи університетської науково-технічної конференції кафедра забезпечує роботу підсекції іноземних мов, де студенти читають доповіді іноземними мовами за своїми профілюючими спеціальностями.
</p>
<p>
Викладачі кафедри проводять наукову та методичну діяльність у галузі методики викладання іноземних мов у немовному вищому навчальному закладі. Результати науково-методичної роботи викладачів знаходять відображення у методичних вказівках, доповідях на міжнародних, всеукраїнських, регіональних науково-практичних конференціях та семінарах, опубліковані у статтях, тезах доповідей. Зокрема доповіді викладачів були представлені на 11 міжнародних, 13 всеукраїнських та 12 регіональних конференціях і семінарах.  Матеріали доповідей щорічно публікуються у вигляді наукових статей та тез, яких на рахунку викладачів кафедри понад 90. Крім того членами кафедри підготовлено до друку та опубліковано 20 збірок методичних рекомендацій.
</p>
