<h1>Studying Process</h1>

<p>
 The Department of Foreign Languages of Chernihiv State Technological University provides teaching discipline "foreign language" in the preparation of full-time bachelors and distance learning in the fields of “Finance and Credit”, “Accounting and Auditing”, “Accounting and Business”," “Management”, “Engineering mechanics”, “Machine - building ”, “Welding”, “Electrical Engineering and Technology”, “Electronic devices and systems”. During the first years of training in CSTU students study English, German or French for specific purposes.
</p>

<p>
Full-time students field of "Computer Engineering", study  only English for specific purposes , as knowledge of English is crucial for success in that area. Students of this speciality, who studied in secondary school German or French, begin to learn English for the beginners  in special group.
</p>
<p>
Full-time students and correspondent students of economic department for at senior courses have the opportunity to learn a second foreign language (English, German or French) for specific purposes.
</p>
<p>
 Learning foreign language is also provided in the preparation of full-time masters of the following  specialties "Electronics" and "Welding". The course promotes skills necessary for scientific research (abstracting and annotating articles, etc.).
</p>

<p>
In preparation of full-time and correspondent  Masters of speciality “Public Service” provides teaching of foreign languages of ​​the following disciplines: "Foreign Language", "Legal support of business," Business foreign language "," Modern state government "," Microeconomics", "Administration of Human Resources".
</p>
<p>
Regardless of direction, specialty and form lessons of  foreign languages are held in subgroups of 10-15 students. During the course of study, modern materials are used including the Internet, numerous authentic audio and video materials.
</p>

<p>
Students, who  demonstrate during the study significant level of foreign language have the opportunity to participate in the annual olympiade of foreign language. Winners are eligible to represent the Chernihiv State Technological University on the National Olympiade. In addition, each year all students have the opportunity to participate in the work of section of foreign languages in the scientific-technical conference of the University.

</p>
<p>
In free from lessons and convenient time students can attend extra language courses, depending on their needs (remedial course of  grammar, business foreign language preparatory, Course entrance exam in Master's, etc.).
</p>
<p>
  In future, the Department of Foreign Languages of Chernihiv State Technological University plans to expand the range of foreign languages taught at the university. Also it is planned to create a center for independent work of students where they with the  help of a teacher-consultant can  find educational materials for improving grammar and vocabulary skills, speaking skills, listening and reading according to their needs and level of foreign language.  To improve communication skills it is planned to  use the Internet resources, to hold discussion clubs and to view movies in foreign languages with them further discussion.
</p>

<p>
  Thus the students, of our university have the opportunity  not only to  develop skills and abilities of foreign language in professional area, but also to improve the level of foreign language of general use based on individual needs.
</p>

