<h1>Організація навчального процесу</h1>

<p>
  У процесі підготовки бакалаврів денної та заочної форм навчання за напрямами &laquo;Фінанси і кредит&raquo;, &laquo;Облік і аудит&raquo;, &laquo;Товарознавство і торговельне підприємництво&raquo;, &laquo;Менеджмент&raquo;, &laquo;Інженерна механіка&raquo;, &laquo;Машинобудування&raquo;, &laquo;Зварювання&raquo;, &laquo;Електротехніка та електротехнології&raquo;, &laquo;Електронні пристрої та системи&raquo; кафедра забезпечує викладання дисципліни &laquo;Іноземна мова&raquo;. Протягом перших років навчання в університеті студенти вивчають англійську, німецьку чи французьку мову за професійним спрямуванням.
</p>

<p>
  Студенти денної форми навчання, які проходять підготовку за напрямом &laquo;Комп’ютерна інженерія&raquo;, вивчають лише англійську мову професійного спрямування, оскільки знання саме англійської мови має надзвичайне значення для успішної діяльності у вказаній галузі. Студенти зазначеного напряму підготовки, які вивчали у середній школі німецьку чи французьку мову, починають вивчення англійської мови з нульового рівня у спеціальній групі.
</p>
<p>
  Студенти денної та заочної форм навчання економічних напрямів підготовки на старших курсах мають можливість оволодіти другою іноземною мовою (англійською, німецькою чи французькою) за професійним спрямуванням.
</p>
<p>
  Вивчення іноземної мови передбачене також і у процесі підготовки магістрів денної форми навчання спеціальностей &laquo;Електроніка&raquo; та &laquo;Зварювання&raquo;. Курс сприяє формуванню навичок, необхідних для наукової діяльності (реферування та анотування статей тощо).
  У процесі підготовки магістрів денної та заочної форм навчання спеціальності &laquo;Державна служба&raquo; кафедра забезпечує викладання іноземними мовами наступних дисциплін: &laquo;Іноземна мова&raquo;, &laquo;Правове забезпечення підприємницької діяльності&raquo;, &laquo;Ділова іноземна мова&raquo;, &laquo;Сучасне державне управління&raquo;, &laquo;Мікроекономіка&raquo;. Управління трудовими ресурсами&raquo;.
</p>

<p>
  Незалежно від напряму підготовки, спеціальності та форми навчання заняття з іноземної мови відбуваються у підгрупах 10-15 студентів. У процесі навчання використовуються сучасні матеріали в тому числі з мережі Інтернет, численні автентичні аудіо та відео матеріали.
</p>
<p>
  Студенти, які у процесі навчання демонструють значний рівень володіння іноземною мовою, мають можливість взяти участь у щорічній олімпіаді з іноземної мови. Переможці отримують право представляти університет на всеукраїнському етапі олімпіади. Крім того, щорічно всі студенти мають можливість взяти участь у роботі секції іноземних мов в рамках науково-технічної конференції університету.
</p>

<p>
  У вільний від занять та зручний час студенти можуть додатково відвідувати курси іноземних мов, залежно від власної потреби (корекційний курс граматики, курс ділової іноземної мови, курс підготовки до вступного іспиту в магістратуру тощо).

</p>
<p>
  В майбутньому кафедра планує розширити вибір іноземних мов, які викладаються в університеті. Крім того планується створення центру для самостійної роботи студентів, де вони зможуть з допомогою викладача-консультанта знайти навчальні матеріали для вдосконалення граматичних та лексичних навичок, вмінь говоріння, аудіювання та читання відповідно до своїх запитів та рівня володіння іноземною мовою. Для покращення вмінь спілкування планується широко використовувати Інтернет ресурси, проводити засідання дискусійних клубів, а також переглядати художні фільми іноземною мовою з їх подальшим обговоренням. Таким чином, студенти нашого університету матимуть можливість не лише розвивати навички та вміння володіння іноземною мовою професійного спрямування, а й поліпшити рівень володіння іноземною мовою загального вжитку з урахуванням індивідуальних потреб.
</p>


