/*
 * This is a manifest file that"ll automatically include all the stylesheets available in this directory
 * and any sub-directories. You"re free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it"s generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */

html, body {
  padding: 0;
  margin: 0;
  height: 100%; width: 100%;
}

body {
  background: url(image-path("bg0.png")) #FAF5F5;
}

#super_wrapper{
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: none;

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -32px;
}

#wrapper {
  padding: 0 0 55px 0;
}

#header{
  text-align: center;
  border-width: 0px 0 1px 0;
  border-color: #700;
  border-style: solid;
  box-shadow: 2px 2px 5px rgba(000,000,000,0.7);
  padding-top: 7px;

  background: url(image-path("bg1.png")), rgb(169,3,41); /* Old browsers */
  background: url(image-path("bg1.png")), -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) ; /* FF3.6+ */
  background: url(image-path("bg1.png")), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
  background: url(image-path("bg1.png")), -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
  background: url(image-path("bg1.png")), -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
  background: url(image-path("bg1.png")), -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
  background: url(image-path("bg1.png")), linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#header_content{
  margin: auto;
  font-family: Georgia;
}

#header_main{
  background: url(image-path("logomain.png")) no-repeat;
  height: 70px;
  line-height:30px;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 5px 150px;
  margin: 0 35px;
  color: #E2D098;
  text-shadow:
  1px 1px 0.05em #000;
}

#header_sub{
  border-radius: 5px 5px 0 0;
  border-color: #700;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  overflow: hidden;
  text-align: center;
  color: #700;

  text-shadow:
  1px 1px 0.05em #FFF;

  background: rgb(254,253,246); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,253,246,1) 0%, rgba(245,237,175,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,253,246,1)), color-stop(100%,rgba(245,237,175,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,253,246,1) 0%,rgba(245,237,175,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,253,246,1) 0%,rgba(245,237,175,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,253,246,1) 0%,rgba(245,237,175,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(254,253,246,1) 0%,rgba(245,237,175,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fefdf6', endColorstr='#f5edaf',GradientType=0 ); /* IE6-9 */

}

#dep_title{
  border-radius: 3px 3px 0 0;
  letter-spacing: 9px;
  line-height: 140px;
  padding-left: 120px;
  font-size: 28px;
  border-width: 0 0 1px 0;
  border-color: #700;
  border-style: solid;
  border-style: solid;
  background: url(image-path("maps.png")) no-repeat;
  background-position: 50px 11px;
}

#menu{
  line-height:30px;
  display: inline-table;
}

#menu_main, #menu_lang{
  display: table-cell;
  float: left;
}

#menu_main a{
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #700;
  padding: 8px 10px;
}

#menu_main a:hover{
  color: #E2D098;
  background: url(image-path("bg1.png")) #700;
  text-shadow:
  1px 1px 0.05em #000;
}

#menu_main{
  width: 845px;
  padding-left: 45px;
}

#menu_lang{
  margin: 3px 0 -6px 0;
}

#footer{
  clear: both;
  margin: 0px 0 -6px 0;
}

#footer_container{
  border-width: 1px 0 0 0;
  border-color: #500;
  border-style: solid;
  font-weight: bold;
  color: #500;
  font-size: 10px;
  font-family: Georgia;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
  line-height:30px;
}

#main_container{
  margin: 0 auto 20px auto;
}

#header_content, #main_container, #footer_container{
  width: 960px;
}

#content{
  background: rgba(255,255,255,1);
  color: #300;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  border-color: #600;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  box-shadow: 2px 2px 5px rgba(000,000,000,0.5);
}

